#Product{
    background-color: #001242;
}

#price{
    color:#001242;
}

#P{ 
    color: #ff5aa4;
}

#L{
    color: #ff4b18;
}

#U{
    color: #fa8827;
}

#T{
    color: #f5cb50;
}

#O{
    color: #97f57d;
}

#imgs{
    background-color: #659AB0;
}

#PlutoView{
    background-color: #001242;
}

#text{
    color:#331242;
}

